<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
{% extends 'base-new.html'%}

{% block title %}
用户管理
{% endblock %}

{% block middle %}
<div class="container-fluid">
    <ol class="breadcrumb" style="background-color: white">
        <li><a href="{{ url_for('user.index') }}">首页</a></li>
        <li class="active">用户管理</li>
    </ol>
    <h3 style="text-shadow: darkgray 2px 1px 3px">用户信息查询 <small>当前用户共有{{ users | length }} 人</small></h3>
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <span class="input-group-addon">客户号/手机号</span>
                <input type="text" class="form-control" name="search" placeholder="Search for...">
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-default" value="搜索" id="search">
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div>
    <br>{{ msg }}
    <div class="table-responsive well" style="height: 340px">
        {% if users %}
        <table class="table table-striped table-hover>
            <tr class="warning">
                <th>序号</th>
                <th>用户名</th>
                <th>手机号</th>
                <th>注册时间</th>
                <th>操作</th>
            </tr>
            {% for user in users %}
            <tr>
                <th>{{ loop.index }}</th>
                <th>{{ user.username }}</th>
                <th>{{ user.phone }}</th>
                <th>{{ user.rdatetime }}</th>
                <th>
                    <a href="javascript:;" onclick="update('{{ user.id }}')">修改</a>
                    <a href="javascript:;" onclick="del('{{ user.id }}')">删除</a>
                </th>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</div>

<script>
    $('#search').click(function () {
        // alert('aaaaaa')
        let content = $("input[name='search']").val()
        // alert(content)
        location.href = "{{ url_for('user.search') }}?search=" + content
    })
</script>

<script>
    function del(id) {
        // console.log(username)
        location.href = "{{ url_for('user.delete') }}?id=" + id
    }
</script>

<script>
    function update(id) {
        // console.log(username)
        location.href = "{{ url_for('user.update') }}?id=" + id
    }
</script>

{% endblock %}

</body>
</html>