<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>客户中心</title>
    <script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
{% extends 'base-new.html'%}

{% block title %}
    用户展示
{% endblock %}

{% block middle %}
    <div>
        <br>{{ msg }}
        <br><span>用户共有：{{ users | length }} 人！</span>
        {% if users %}
        <h1>全部客户信息如下</h1>
        <br>客户号/手机号:<input type="text" name="search" placeholder="请输入搜索内容"><input type="submit" value="搜索" id="search">
        <br><br>
        <table border="1" cellpadding="0" width="60%">
            <tr>
                <th>序号</th>
                <th>用户名</th>
                <th>手机号</th>
                <th>注册时间</th>
                <th>操作</th>
            </tr>
            {% for user in users %}
            <tr>
                <th>{{ loop.index }}</th>
                <th>{{ user.username }}</th>
                <th>{{ user.phone }}</th>
                <th>{{ user.rdatetime }}</th>
                <th>
                    <a href="javascript:;" onclick="update('{{ user.id }}')">修改</a>
                    <a href="javascript:;" onclick="del('{{ user.id }}')">删除</a>
                </th>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        <br><br><br>
    </div>

{% endblock %}

<script>
    $('#search').click(function (){
        // alert('aaaaaa')
        let content = $("input[name='search']").val()
        // alert(content)
        location.href = "{{ url_for('user.search') }}?search="+content
    })
</script>

<script>
    function del(id){
        // console.log(username)
        location.href='/delete?id=' + id
    }
</script>

<script>
    function update(id){
        // console.log(username)
        location.href='/update?id=' + id
    }
</script>

</body>
</html>