{% extends 'base-new.html'%}
{% block title %}
用户登录
{% endblock %}


{% block middle %}
<div class="table-responsive well" style="height: 485px;">
    <ol class="breadcrumb" style="background-color: white">
        <li><a href="{{ url_for('user.center') }}">用户管理</a></li>
        <li class="active">用户登录</li>
    </ol>
    <h1 style="text-shadow: darkgray 2px 1px 3px; text-align: center; font-family: 华文楷体;">欢迎登录造数平台！</h2><br>
    <h5 style="text-shadow: darkgray 2px 1px 3px; text-align: center; color: brown">{{ msg }}</h5>
    <form class="form-horizontal" action="{{ url_for('user.login') }}", method="post">
        <div class="form-group">
            <label for="inputusername" class="col-sm-2 control-label">用户名</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputusername" name="username" placeholder="请输入用户名" style="width: 80%">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">密码</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword" name="password" placeholder="请输入密码" style="width: 80%">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> 记住账号和密码
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">登录</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}