<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户协议</title>
</head>
<body>
<h1>用户协议</h1>
<h2>遵守法律</h2>
您同意遵守中华人民共和国相关法律法规的所有规定，并对以任何方式使用您的密码和您的帐号使用本服务的任何行为及其结果承担全部责任。如您的行为违反国家法律和法规的任何规定，有可能构成犯罪的，将被追究刑事责任，并由您承担全部法律责任。

<h2>使用规则</h2>
您同意将不会利用本服务进行任何违法或不正当的活动，包括但不限于下列行为∶

1）发布或以其它方式传送含有下列内容之一的信息：

· 反对宪法所确定的基本原则的；

· 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；

· 损害国家荣誉和利益的；

· 煽动民族仇恨、民族歧视、破坏民族团结的；

· 破坏国家宗教政策，宣扬邪教和封建迷信的；

· 散布谣言，扰乱社会秩序，破坏社会稳定的；

· 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；

· 侮辱或者诽谤他人，侵害他人合法权利的；

· 含有虚假、诈骗、有害、胁迫、侵害他人隐私、骚扰、侵害、中伤、粗俗、猥亵、或其它道德上令人反感的内容；

· 含有中国法律、法规、规章、条例以及任何具有法律效力之规范所限制或禁止的其它内容的；

2）以任何方式危害他人的合法权益；

3）冒充其他任何人或机构，或以虚伪不实的方式陈述或谎称与任何人或机构有关；
</body>
</html>